<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
    <link rel="stylesheet" href="css/styles.css">
    <style>
        body {
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2><a class="white" href="/">Home</a></h2>
        <p>
            <a href="https://backend-hosting-api.onrender.com/api/yaponOvqatlari">
                https://backend-hosting-api.onrender.com/api/yaponOvqatlari
            </a>
        </p>

        <p>
            <a href="https://backend-hosting-api.onrender.com/api/uzbekistanShaxarlari">
                https://backend-hosting-api.onrender.com/api/uzbekistanShaxarlari
            </a>
        </p>

    </div>
</body>

</html>